---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'tale';

@media (min-width: 600px) {
    .catalogue-item {
        display: flex;
        align-items: center;
        .catalogue-item-text {
            flex: 1;
        }
        .catalogue-item-img {
            margin: 0 1rem 0;
            height: 10rem;
            width: 10rem;
            object-fit: cover;
        }
    }
}
@media (max-width: 599px) {
    .catalogue-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        .catalogue-item-text {
            flex: 1;
        }
        .catalogue-item-img {
            margin: 0 1rem 0;
            height: 10rem;
            width: 10rem;
            object-fit: cover;
        }
    }
}

code {
    font-family: Consolas, 'Courier New', monospace;
}

blockquote {
    border-left-color: $grey-1;
    background-color: $grey-3;
    color: $default-color;
    padding: 2em;
    font-size: .95em;
    h3 {
        margin-top: 0;
    }
}

hr {
    margin: 20px 0;
    border: 1px solid $grey-3;
}

.youtube-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}
